{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ReelPick</title>
  <link rel="stylesheet" href="{% static 'movies/css/style.css' %}">
</head>
<body>
  <div class="background"></div>
  <header>
    {% if user.is_superuser %}
        <a href="{% url 'movies:add_movie' %}"><button class="login-btn">+ Add Movie</button></a>
    {% else %}
        <h1></h1>
    {% endif %}
    {% if user.is_authenticated %}
        <h1>ReelPick - {{ user.username }}</h1>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="login-btn">Log out</button>
        </form>
    {% else %}
        <h1>ReelPick</h1>
        <a href="{% url 'login' %}"><button class="login-btn">Log in</button></a>
    {% endif %}
  </header>
  {% if movies %}
    <div class="movie-grid">
        {% for movie in movies %}
            <a href="{% url 'movies:detail' movie.pk %}" class="movie-card">
                {% if movie.poster %}
                    <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="card-img" style="max-width:200px; max-height:300px;">
                {% else %}
                    <p></p>
                {% endif %}
                <div class="card-body">
                    <h2>{{ movie.title }}</h2>
                    <p>{{ movie.year }}</p>
                    <p>{{ movie.genre }}</p>
                    <p>Director - {{ movie.director }}</p>
                </div>
            </a>
        {% empty %}
            <p>No movies yet.</p>
        {% endfor %}
    </div>
  {% else %}
    <p>No movies yet.</p>
  {% endif %}
</body>
</html>